# What is Biometric Signature Verification?

All of us have our own style of handwriting and biometric signature verification software can be used to accurately identify the signer. This makes it possible to control access or check the validity of electronic documents and transactions. By using the pressure-sensitive Wacom devices and the appropriate software, both an exact (static) image of the signature as well as the signature′s biometric (dynamic) characteristics can be captured while writing. The writing speed, acceleration and pressure are all analyzed as the user writes and can be compared to a reference signature to ascertain validity.

---
Source: [https://support.wacom.com/hc/en-us/articles/1500006270141-What-is-Biometric-Signature-Verification](https://support.wacom.com/hc/en-us/articles/1500006270141-What-is-Biometric-Signature-Verification)
